* {
  box-sizing: border-box;
}
html {
  background-color: #c4d5a8;
  font-family: "Lato", sans-serif;
}
.wrap {
  width: 100vw;
  padding: 50px;
  display: flex;
  justify-content: center;
}
.introduction-block1 {
  width: 650px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
#name {
  font-size: 42px;
  display: flex;
  justify-content: flex-end;
  text-shadow: 1px 2px 2px #646464;
}
.subtitle {
  font-size: 34px;
  font-weight: bolder;
  margin: 25px 0 5px 0;
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px 1px #646464;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgb(230, 230, 230);
  margin: 15px 0;
}
.content-wrap {
  font-size: 20px;
  margin: 0 30px;
}
.content-block {
  padding: 15px;
  font-size: 24px;
  background-color: #d6ece1;
  box-shadow: 3px 3px 7px 0px rgb(130 130 130);
}
.company-name {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 12px;
}
.job-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.date-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.date-line {
  width: 2px;
  height: 3vw;
  background-color: grey;
}
.job-content {
  width: 70%;
  padding-left: 15px;
}
.job-position {
  font-weight: bolder;
}
.job-detail {
  font-size: 20px;
}
.introduction-block2 {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10px;
}
#self-photo {
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 10px;
  border-style: double;
  border-width: 8px;
}
.location {
  width: 100%;
  position: absolute;
  margin-top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 100%;
  position: absolute;
  margin-top: 110%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
